@import '../../styles/variables';

.copyright {
  align-self: center;
  padding: 12px;
  padding-bottom: 24px;
  background-color: $white;

  @include font-type;
  color: $black;
  a {
    color: $black;
    transition: all 250ms ease;
    border-bottom: 1px solid transparent;
    &:hover,
    :visited,
    :link {
      color: darken($black, 20%);
    }
    &:hover {
      border-bottom: 1px solid darken($black, 20%);
    }
  }
}
