.reservation-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  @media screen and (max-width: 1150) {
    flex-direction: column;
  }

  .reservation-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    .reservation-form-group {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      width: 50%;
      margin: 0 32px 32px 32px;

      &:last-child {
        align-items: flex-start;
      }

      .reservation-form-item {
        display: flex;
        flex-direction: column;

        label {
          margin: 16px 0 4px 0;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
  }
}
