.countdown-container {
  text-align: center;
  position: relative;
  font-family: 'Courier New', monospace;
  margin-top: 7%;
  z-index: 100;
  width: 100%;
  transition: margin 600ms;
}

.countdown-container span {
  transition: font-size 600ms;
  font-size: 30px;
  font-weight: 600;
}
