@import '../../styles/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include font-title;
  height: 50vh;
  width: 100%;

  h1 {
    font-size: 48px;
    white-space: break-spaces;
    text-align: center;
    color: $black;

    span {
      color: $main;

      &:last-child {
        color: $dark;
      }
    }
  }

  .emoji-tab-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 10%;
  }
}
