@import '../../styles/variables';
.card {
  background-color: $light;
  border-radius: 15px;
  display: inline-block;
  position: relative;
  height: 370px;
}

.wrapper {
  position: relative;
  padding: 0px 0px 82px 0px;
  text-align: center;
  @include font-type;
  p {
    padding: 0;
    margin: 0;
    margin-bottom: 12px;
  }
  span {
    font-size: 16px;
  }
}

.heading {
  text-align: center;
  @include font-title;
  padding: 0;
  margin: 12px;
}

.img-wrapper {
  position: relative;
  .slot {
    position: absolute;
    top: 19px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    left: 0;
    @include font-type;
    color: $black;
  }
}
